<div id="addAddressWrap" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Address</h4>
            </div>
            <form name="addressForm" ng-submit="uc.sendAddress()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>Street:</label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="text" class="form-control" validates="empty" id="streetInput" ng-model="uc.addressData.street" name="streetInput" placeholder="street">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>Number:</label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="text" class="form-control" validates="number" id="numberInput" ng-model="uc.addressData.number" name="numberInput" placeholder="number">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>City:</label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="text" class="form-control" validates="empty" id="cityInput" ng-model="uc.addressData.city" name="cityInput" placeholder="city">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>State:</label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="text" class="form-control" validates="empty" id="stateInput" ng-model="uc.addressData.state" name="stateInput" placeholder="state">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>Zip Code:</label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="text" class="form-control" validates="zipcode" id="zipcodeInput" ng-model="uc.addressData.zipcode" name="zipcodeInput" placeholder="zip code">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>Country:</label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="text" class="form-control" validates="empty" id="countryInput" ng-model="uc.addressData.country" name="countryInput" placeholder="country">
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-danger" data-dismiss="modal" ng-click="uc.getAddress()" value="Cancel"/>
                <button class="btn  btn-success">Confirm</button>
            </div>
        </form>
        </div>
    </div>
</div>