<div class="container">

    <div class="row">
        <div class="col-md-12"></div>
        <button type="button" class="btn btn-primary col-md-2 col-md-offset-10" data-toggle="modal" data-target="#cardModal">
            Create account
          </button>
    </div>
    <hr>

    <div class="row">
        <div ng-repeat="card in cc.cards" class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <div ng-class="{credit_card_header: card.type === 'Credit card', debit_card_header: card.type === 'Debit card' }">
                        <h3>{{ card.label }}</h3>
                    </div>
                    <div class="credit_card_body">
                        <ul>
                            <li>Account: {{card.account}}</li>
                            <li>Balance: {{card.balance}}</li>
                            <li>Card mask: {{card.cardMask}}</li>
                            <li>Type: {{card.type}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="cc.newCardModal"></div>
</div>