<div class="container">
    <div class="row">
        <form class="form-group col-md-12">
            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="account">
                <input type="password" class="form-control" id="type" placeholder="type">
            </div>
            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="balance" placeholder="balance">
                <input type="email" class="form-control" id="cardMask" placeholder="cardMask">
            </div>
            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="cvc" placeholder="cvc">
                <input type="email" class="form-control" id="expires" placeholder="expires">
            </div>
            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="label" placeholder="label">
                <input type="email" class="form-control" id="pin" placeholder="pin">
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </form>
    </div>
</div>