<div class="container">
    <br/>
    <div class="row">
        <div class="caption">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Account</th>
                        <th scope="col">Alias</th>
                        <th scope="col">Max Amount</th>
                        <th scope="col" class="hidden-xs">Bank</th>
                        <th scope="col" class="hidden-xs">Created</th>
                        <th scope="col">
                            <span class="glyphicon glyphicon-user green transBtn" aria-hidden="true" data-toggle="modal" data-target="#myModal" ng-click="fc.getAccounts()"></span>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="fc.favorites.length">
                    <tr ng-repeat="account in fc.favorites" ng-class="{'alert-danger': account.status === 'rejected'}">
                        <td scope="row">{{ account.account }}</td>
                        <td scope="row">{{ account.alias }}</td>
                        <td>
                            {{account.max_amount | currency}}
                        </td>
                        <td class="hidden-xs">
                            {{account.bank}}
                        </td>
                        <td class="hidden-xs">
                            {{account.created_at | date : 'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td>
                            <span class="glyphicon" ng-class="{ 'glyphicon-remove red': account.status==='rejected' ,
                                            'glyphicon-ok green': account.status==='success' } " aria-hidden="true ">&nbsp;</span>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="fc.favorites.length == 0">
                    <tr>
                        <td colspan="6" class="background-red text-center">There are no favorites to show.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-include=" 'views/modal/favorites.html' "></div>
</div>