<nav class="navbar navbar-default navbar-static-top" ng-controller="HeaderController as hc">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="user" class="navbar-brand">BANK</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
            <ul class="nav navbar-nav" ng-if="hc.isLogged">
                <li ng-class="hc.path == '/user' ? 'active' : ''">
                    <a href="user">Home</a>
                </li>
                <li ng-class="hc.path == '/cards' ? 'active' : ''">
                    <a href="cards">Cards</a>
                </li>
                <li ng-class="hc.path == '/transactions' ? 'active' : ''">
                    <a href="transactions">Transactions</a>
                </li>
                <li ng-class="hc.path == '/favorites' ? 'active' : ''">
                    <a href="favorites">Favorites</a>
                </li>
                <li>
                    <a href="javascript:void(0);" ng-click="hc.logout()">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>