<nav class="navbar navbar-default navbar-static-top" ng-controller="HeaderController as hc">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">BANK</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
            <ul class="nav navbar-nav" ng-if="hc.isLogged">
                <li class="active">
                    <a href="#!/user">Home</a>
                </li>
                <li>
                    <a href="#!/cards">Cards</a>
                </li>
                <li>
                    <a href="#!/transactions">Transactions</a>
                </li>
                <li>
                    <a class="right" href="javascript:void(0);" ng-click="hc.logout()">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--
    <div class="col-md-12 col-xs-12 no-padding">
        <div class="col-md-12 col-xs-12 text-left headerTitle">
            <span>PIGGY BANK</span>
            <span class="divideHorizontal"></span>
        </div>
    </div>
    <div class="col-md-12 no-padding" ng-if="hc.isLogged">
        <div class="topnav" id="myTopnav">
            <a href="#!/user" class="active">Home</a>
            <a href="#!/accounts">Accounts</a>
            <a href="#!/transactions">Transactions</a>
            <a href="javascript:void(0);" class="icon" onclick="menuToggle()">
                <span class="fa fa-bars"></span>
            </a>
            <a class="right" href="javascript:void(0);" ng-click="hc.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
    </div>
-->